
header {
	background-image: url('./home_header_bg.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: cover;
	height: 80vh;
	


}



@media only screen and (max-width: 560px) {
	header {
    width:100%;
    background-image:cover;
    height: 100vh;
	}
}